/* Basic style  ======================*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* Mixin  ======================*/
@import 'mixin';
@import 'basic';

/* colors  ======================*/

$white:#FFFFFF;
$blue:#31005C;
$black_blue:#260051;
$gray:#686B79;
$dimgray:#676767;
$slategray:#4D4D4D;
$silver:#CCD1EB;
$aliceblue:#EFF5F9;
$success:#44F2D2;

/* Mixin  ======================*/

$roboto: 'Roboto', sans-serif;
$osw: 'Oswald', sans-serif;


html, body, div, span, img, 
ol, ul, li, a, p, h1, h2, h3, 
h4, h5, h6, option, legend, label, 
table, th, td, tr, article, aside, 
caption, figure, footer, header, hgroup, 
mark, nav, section, time, audio, video {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

table {
	border-collapse: collapse;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 100%;
	overflow-y: scroll; 
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: $gray;
	font-size: 16px;
	background: $blue;
	font-family: $roboto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

h1{
	@include rem(80px,30,95px);

	&.fs-sm {
		@include rem(50px,30,55px);
	}
}

h2{
	@include rem(40px,30,55px);
	&.fs-lg {
		@include rem(50px,30,65px);
	}
}
h3{
	@include rem(30px,30,45px);
}
h4{
	@include rem(24px,30,35px);
}
h5{
	@include rem(20px,30,28px);
}
h6{
	@include rem(18px,30,24px);
}
p{
	@include rem(16px,0,24px);

}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
	color:#5F5F5F;
	font-size: 0.75rem;
	font-weight: 400;
	border-radius: 0;
	width: 100%;
	border: 1px solid $success;
	padding: 15px 20px !important;
	transition:all 0.5s ease;

	&:hover, &:focus {
		outline: 0;
	}

	@include placeholder(#5F5F5F ,0.75rem, 400, $roboto);
}


.coverbg {
    @include coverbg;
}

a {

    &:hover, &:focus {
        outline: 0;
    }
}

a{
	text-decoration: none !important;
}

.pattern-dots {
	width: 100%;
	height: 80px;
	max-width: 65px;
	display: inline-block;
	line-height: .8;
	letter-spacing: 0;


	span {
		padding: 2px;
		margin: 2px;
		display: inherit;
		border-radius: 500px;
		background-color: #CCD1EB;
	}

}

.btn {
	width: 100%;
	border: 0px;
	height: 50px;
	color:$black_blue;
	display: flex;
	max-width:180px;
	font-weight: 500;
	border-radius:0px;
	overflow: hidden;
	font-family: $roboto;
	position: relative;
	align-items:center;
	background: $success;
	justify-content: center;
	@include rem(18px,30,21.6px);

	&:hover,&:focus {
		outline:0;
		box-shadow:none;
		background: $success;
		border-style: inherit;
	}

}

.colorWhite {
	color:$white !important;
}
.colorBlue {
	color:$blue !important;
}
.colorBlackBlue {
	color:$black_blue !important;
}
.colorGray {
	color:$gray !important;
}
.colorSilver {
	color:$silver !important;
}
.colorSlategray{
	color:$slategray !important;
}
.colorAliceblue {
	color:$aliceblue !important;
}
.colorSuccess {
	color:$success !important;
}
.colorDimgray {
	color:$dimgray !important;
}

.bgWhite {
	background-color:$white !important;
}
.bgBlue {
	background-color:$blue !important;
}
.bgBlackBlue {
	background-color:$black_blue !important;
}
.bgGray {
	background-color:$gray !important;
}
.bgSlategray {
	background-color:$slategray !important;
}
.bgSilver {
	background-color:$silver !important;
}
.bgAliceblue {
	background-color:$aliceblue !important;
}
.bgSuccess {
	background-color:$success !important;
}
.bgDimgray {
	background-color:$dimgray !important;
}

.blackShadow {
	box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.06);
}

.text-uppercase {
	text-transform: uppercase;
}
.hidden{
	display: none !important;
}
.mxw-656 {
	max-width:656px !important;
}
.pull-right {
	float:right !important;
}
.pull-left {
	float:left !important;
}
.img-responsive{
	max-width:100%;
	height:auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}



/* slick dots style =================*/

.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li{
		position: relative;
	    display: inline-block;
	    width: 30px;
	    height: 10px;
	    margin: 0 5px;
	    padding: 0;
	    border-radius: 5px;
	    cursor: pointer;
	    background: rgba($success,.3);
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    transition: all .3s ease;

	    &.slick-active {
			background:$success;
	    }

	    button {
	    	display: none;
	    }
    }

}

/* sidr style =================*/
.navbar-expand-md {

	.navbar-collapse {
		top: 75px;
		right:-15px;
		opacity: 0;
		width: 100%;
	    z-index: 9999;
		max-width:300px;
		padding: 20px 0;
	    position: absolute;
	    visibility: hidden;
		display:none !important;
	   	flex-direction: column;
	   	transition:all .5s ease;

		.nav.navbar-nav {
			width: 100%;

			li{
				width: 100%;
				display: block;
				
				a{
				    color: #FFFFFF;
				    display: grid;
					font-weight: 400;
					font-family: $osw;
					background:inherit;
				    padding: 8px 16px;
				    text-align-last: end;
	    			grid-template-columns: 1fr auto;
					@include rem (18px,0,22px);
				    transition: all .3s ease;

					i {
						color:$success;
						margin-left: 19px;
						margin-right: 5px;
						transition: all .3s ease;
					}

					&:hover,&:focus {
						color:$success;

						i {
							text-shadow: 0 3px 20px rgba($success,.5);
						}
					}
				}
			}
		}

		&.show {
			opacity: 1;
			visibility:visible;
			display: flex !important;
		}
	}

}


/* menu bar and close style =================*/

.navbar-toggler {

	padding: 0;
	width: 24px;
	height: 22px;
	position: relative;
	transform: rotate(0deg);
	display:block !important;
	transition: .5s ease-in-out;
	cursor: pointer;

	.icon-bar {
		left: 0;
		opacity: 1;
		width: 100%;
		display: block;
		height: 3px;
		position: absolute;
		border-radius: 2px;
		transform: rotate(0deg);
		background-color:$success;
		transition: 0.25s ease-in-out;

		&:nth-child(1) {
		  	top: 6px;
		  	transform: rotate(135deg);
		}

		&:nth-child(2) {
		 	opacity: 0;
		 	top: 6px;
  			left: 60px;
		}

		&:nth-child(3) {
		  	top: 6px;
  			transform: rotate(-135deg);
		}

	}

	&:before {
		content: "";
		top: -35px;
	    z-index: -1;
		width: 14em;
	    right: -20px;
		height: 14em;
		font-size:1rem;
		border-radius: 50%;
		position: absolute;
		background:$black_blue;
		will-change: width, height;
		transition-duration: 1s;
		transform: translate(100%, -100%) scale(5);
		transition: transform .5s cubic-bezier(0.04, -0.1, 0.29, 0.98),
	    width .5s cubic-bezier(0.04, -0.1, 0.29, 0.98),
	    height .5s cubic-bezier(0.04, -0.1, 0.29, 0.98);
   		
    }



	&.collapsed {

	    .icon-bar {
			
			&:nth-child(1) {
			  	top: 0;
			  	width: 12.78px;
			  	transform: rotate(0deg);
			}

			&:nth-child(2) {
			 	top: 6px;
  				left: 0px;
				opacity: 1;
			}

			&:nth-child(3) {
			  top: 12px;
			  right: 0;
			  left: auto;
			  width: 12.78px;
			  transform: rotate(0deg);
			}
	    }

	    &:hover, &:focus {

	    	.icon-bar {

	            &:nth-child(1) {
	               width:100%;
	            }

	            &:nth-child(3) {
					width: 100%;
	            }
	        }
	    }
		&:before {
			width: 1em;
			height: 1em;
			transition-duration: 1s;
			transform: translate(0%, 0%) scale(0);
		}

		
	}
     
}

/* header style =================*/

.header {
	top: -1px;
    left: 0;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    z-index: 99999;
    border-radius: 0;
    position: fixed;
    background-color: $blue;
    transition: all .3s ease;

	.navbar {
		margin: 0;
		padding: 0px;
		position: relative;
		flex-direction: row-reverse;
		justify-content: space-between;

		.navbar-header {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			.navbar-brand {
				z-index: 999;
				padding: 0;
				position:relative;
				line-height: 100px;
				transition: all .3s ease;

				img{
    				max-width: 100%;
			    	transition: all .3s ease;
			    }
			}
		}
		.catagory-menu {
			padding:0 10px;
			flex-grow: 0;

			.navbar-nav {
				padding:13px 21px;
				border-radius:25px;
				background-color:$black_blue;

				li {
					padding:0 14px;

					a {
						color:$white;
						font-weight: 400;
						position: relative;
						background:inherit;
						font-family: $roboto;
						transition:all 0.3s ease;
						text-transform: uppercase;
						@include rem (16px,20,19px);

						&:before {
							left: 0;
						    right: 0;
							width: 0%;
							content:"";
							height: 2px;
							bottom: -18px;
						    margin: 0 auto;
							position: absolute;
							background-color: $success;
							transition:all 0.3s ease;

						}
					}

					&.active, &:hover, &:focus {
						a {
							color:$success;

							&:before {
								width: 100%;
							}

						}
					}
				}
			}
		}
		.side-nav {

			ul {


				li {
					display: inline-block;
					a {
						color:$white;
						font-weight: 400;
						font-family: $osw;
						position:relative;
						@include rem(14px,0,21px);
						transition:all 0.3s ease;
						
						i {
							font-size: 0.75rem;
							padding-right: 3px;
						}
					}

					&.active, &:hover, &:focus {

						a {
							color:$success;

							.add-count {
								border:1px solid $success;
							}
						}

					}

					&.cart {
						padding-left: 20px;
						position: relative;
						margin-right: 10px;

						i {
							font-size: 0.875rem;
						}

						.add-count {
							top:2px;
							right: -6px;
							width: 100%;
							height: 14px;
							display: flex;
							max-width: 14px;
							font-weight: 400;
							font-size: 0.5rem;
							position: absolute;
							border-radius:500px;
							align-items: center;
							font-family: $roboto;
							border:1px solid $white;
							justify-content: center;
							@include rem(8px,-170,8px);
						}
					}
				}
			}
		}
	}
	&.sticky{
	    padding:0;
	    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

		.navbar {

		    .navbar-header {

		    	.navbar-brand {
		    		line-height: 85px;

		    		img{
		    			max-width: 90%;
		    		}
		    	}
		    }
		}
	}
}


/* product service style =================*/

.products-section {
	background-color:$blue;

	h2 {
		color:$blue;
		font-weight: 500;
		font-family: $osw;
		text-align: center;
		padding:80px 0 20px 0;
		text-transform: uppercase;
	}

	.products-category {
		height: 0;
		padding:0;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0px 0px 6px #00000029;
		transform:translate(0, -20px);
		transition:all .5s ease;

		.slide-categories {
			padding: 0 100px;

			.single-category {
				cursor:pointer;
				display: grid;
				margin:0 10px;
				position: relative;
    			align-items: center;
				grid-template-columns: auto 1fr;
				background-color: $black_blue;

				h6 {
					color:$white;
					font-weight: 400;
					font-family: $osw;
					padding-left: 14px;
					text-transform: uppercase;
					@include rem(16px,30,24px);
				}

				&:before {
					width: 100%;
					height: 100%;
					content:"";
					position:absolute;
					background-color:rgba($black_blue,0.5);
					transition:all 0.3s ease;
				}

				&.active,&:hover,&:focus {

					&:before {
						background-color:transparent;
					}
				}

			}
			

			.slick-prev,.slick-next {
				width: inherit;
				height:inherit;
				padding:15px;
    			font-weight: 900;
    			background-color: $black_blue;

    			&:before {
					width: 100%;
					height: 100%;
					background-color:rgba($black_blue,0.5);
					transition:all 0.3s ease;
				}

				&.active,&:hover,&:focus {

					&:before {
						background-color:transparent;
					}
				}
			}

			.slick-prev {
			    left: 25px;

			    &:before {
					content: "\f060";
					font-family: "Font Awesome 5 free";
				}
			}
			.slick-next {
				right: 25px;

				&:before {
					content: "\f061";
					font-family: "Font Awesome 5 free";
				}
			}
		}

		&.opened {
			opacity:1;
    		height: auto;
			padding: 30px 0;
			visibility:visible;
			transform:translate(0, 0px);
		}
	}

}

.category-section {

	.category-item {
		position:relative;
		padding:70px 0 120px 0px;

		.side-header {
			left:0;
			position:absolute;
			display:inline-flex;
			align-items: center;
			justify-content: center;
			transform-origin: 75% 100%;
			transform: translate(-55%,100%) rotate(-90deg);

			.categoy-title{
				color:#CCD1EB;
				font-weight: 300;
				display: inline-block;
				font-family: $roboto;
				text-transform: uppercase;
				@include rem(80px,100,96px);
				font-size: 4.3vw;
			}

			.fileter-menu {
				cursor: pointer;
				display: inline-flex;
				.wrapper {
					width: 40px;
					height: 25px;
					display: inline-block;
					transform: rotate(90deg);
				}

				.icon-bar {
					height: 5px;
					width: 40px;
					opacity: 1;
					display: block;
					border-radius: 5px;
					margin-bottom: 5px;
					background:$success;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: .25s ease-in-out;
					-moz-transition: .25s ease-in-out;
					-o-transition: .25s ease-in-out;
					transition: .25s ease-in-out;
				}

				&.open{

					.icon-bar {
						margin-bottom: -4px;
						&:nth-child(1) {
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}

						&:nth-child(2) {
						  	-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);

						}

						&:nth-child(3) {
							background-color: transparent;
							opacity: 0;
						}

					}

					
				}

				.text {
					color:$white;
					font-weight: 400;
					padding-left: 17px;
					padding-right: 5px;
					font-family: $roboto;
					text-transform: uppercase;
					@include rem(18px,0,24px);
				}
			}
		}

		.single-product {
			overflow:hidden;
			margin-bottom: 30px;
			border-radius:15px;

			.media {
				overflow:hidden;
				position: relative;
				border-top-left-radius: 15px;
				border-top-right-radius: 15px;
				
				img {
					width: 100%;
					transition:all 2s ease;
				}
				&:before {
					left: 0;
					right:0;
					content:'';
					z-index: 1;
					width: 100%;
					height: 100%;
					position:absolute;
				    background:rgba(#000,0);
				    border-top-left-radius: 15px;
				    border-top-right-radius: 15px;
					transition:all 2s ease;

				}
			}
			.content {
				padding:24px 30px;
				position: relative;
				background-color: $black-blue;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;

				label {
					z-index: 2;
					top: -17px;
					right: 30px;
					color:$blue;
					padding:8px 14px;
					font-weight: 500;
					border-radius:18px;
					position: absolute;
					font-family: $roboto;
					border:2px solid $blue;
					background-color:$white;
					text-transform: capitalize;
					@include rem(12px,30,14px);

				}

				h6 {
					color:$silver;
					font-weight: 400;
					font-family: $roboto;
					padding-bottom: 20px;
					font-size: 1rem;
					line-height: 1.7;
				}

				.currency {
					color:$white;
					font-weight: 500;
					font-family: $roboto;
					display: inline-block;
					@include rem(18px,30,21px);

					span {
						color:rgba($white,.3);
						text-decoration: line-through;
					}
				}

				a {
					float:right;
					line-height: 0;
					color:$success;
					font-size: 1.125rem;
					display: inline-block;
				}
			}

			&.featured-product {

				.content {

					h5 {
						color:$silver;
						font-weight: 700;
						padding-bottom: 20px;
						font-family: $roboto;
						@include rem(20px,0,30px);
					}

					.currency {
						@include rem(28px,30,33px);
					}

					a {
						
						i {
							font-size: 1.75rem;
						}
					}
				}
			}

			&:hover,&:focus {

				.media {
					img {
						transform: scale(1.1);
					}
					&:before {
						background:rgba(#000,.2);
						transform: translate(0px, 0px);
					}
				}
			}

		}
	}
}


/* featured section style =================*/

.features {
	padding:120px 0;
}
.single-feature {
	padding:40px;
	margin-top: 40px;
	position:relative;
	background-color: #29195F;

	&:before {
		top:-40px;
		content:'';
		right: 40px;
		width: 65px;
		height: 80px;
		position:absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-image:url(../images/icon-dots.svg);
	}

	.media {
		padding-bottom: 60px;
	}

	.content {

		h4 {
			color:$silver;
			font-weight: 500;
			font-family: $osw;
			padding-bottom: 52px;
		}

		p {
			color:#8E7EB2;
			font-weight: 400;
			font-family: $roboto;
			@include rem(14px,30,24px);
		}
	}
}


/* product discount style *************====*/
.discount-offer {
	padding:100px 0;
	background:linear-gradient(#31005C,#390A62);

	.content {
		h3 {
			color:rgba(#CCD1EB,.6);
			font-weight: 500;
			font-family: $osw;
			padding-bottom: 17px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}

		p {
			color:#CCD1EB;
			font-weight: 400;
			font-family: $roboto;
			letter-spacing: 0.03em;
			padding-bottom:32px;
		}

		.btn {
			text-transform: uppercase;
			border-radius:25px;

			&:hover,&:focus{
				box-shadow: 0 6px 15px #44f2d24d;
			}
		}
	}
}

.ClassyCountdown-wrapper {
	padding-bottom: 32px;

	.ClassyCountdown-days,.ClassyCountdown-hours,
	.ClassyCountdown-minutes,.ClassyCountdown-seconds{
		display: inline-block;
	    position: relative;
	    width: calc(25% - 20px);
	    margin:0 10px;
	}
	.ClassyCountdown-days {
		margin-left: 0;
	}
	.ClassyCountdown-value {
	    width: 100%;
	    line-height: 1em;
	    position: absolute;
	    top: 50%;
	    text-align: center;
	    left: 0;
	    display: block;
	}
}

/* slider style ============******============*/


/* banner style *************====*/

.banner {
	padding: 76px 0;
}


.summer-collection {

	.content {

		h1.fs-sm {
			width: 100%;
			color:$white;
			max-width:247px;
			font-weight: bold;
			font-family: $osw;
			padding-bottom: 24px;
			text-transform: uppercase;
		}

		h4 {
			color:$white;
			font-weight: 400;
			font-family: $roboto;
			padding-bottom: 74px;
		}

		.btn {
			color:$white;
			border-radius:25px;
			text-transform: uppercase;
			background:linear-gradient(#44F2D2,#00C974);
			transition:all .3s ease;

			&:hover,&:focus {
				color:$black_blue;
				box-shadow: 0 6px 14px #00c97470;
			}
		}
	}
}

.innerCollectionList-wrapper {
	background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;

	.innerNavList {
		width: 100%;
		max-width:315px;
		list-style:none;
		background:$white;
		border-radius: 31px;
		margin-left: auto;
    	margin-bottom: -99px;
    	position: relative;
    	z-index: 1;

		li {
			width: 100%;
			height:35px;
			margin:12px 0;
			max-width: 35px;
			cursor: pointer;
			margin-left: 12px;
			display: inline-block;

			img {
				width: 100%;
				height:auto;
				max-width: 100%;
				border-radius:500px;
				border:2px solid transparent;
				transition:all .3s ease;
			}
			
			&:last-child {
				margin-right: 12px;
			}
			&.active,&:hover,&:focus {

				img {
					border:2px solid $success;
				}
			}
		}
	}

	.innerCollectionList {
		
		.dataCollection {
			display: none;

			.media {

				img {
					padding-left: 57px;
					padding-bottom: 50px;
				}
			}

			&.active {

				display:inherit;
				-webkit-animation: fadeEffect 2s;
		  		animation: fadeEffect 2s;

				/* Fade in tabs */
				@-webkit-keyframes fadeEffect {
				  from {opacity: .8;}
				  to {opacity: 1;}
				}

				@keyframes fadeEffect {
				  from {opacity: .8;}
				  to {opacity: 1;}
				}
			}
		}
	}
}


/* trendy items slider style *************====*/

.trendy-products {
	padding:100px 0;
	position: relative;
	background:linear-gradient(#31005C,#390A62);

	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		position: absolute;
		content:url(../images/trendy-pattern.png);
	}

	
	h2 {
		color:$silver;
		font-weight: 300;
		font-family: $osw;
		text-align: center;
		padding-bottom: 60px;
		text-transform: uppercase;

		strong {
			color:$success;
		}
	}

}

.trendy-items {

	.slick-list.draggable {
	    padding-bottom: 38px;
	}

	.slick-dots {

		li {
			width: 46px;
	    	height: 13px;
	    	border-radius: 7px;

		}
	}
}

.trendy-item {
	display: flex !important;
	margin:0 15px;
	overflow:hidden;
	border-radius: 10px;
	align-items: center;
	background-color:$white;

	.media {

		img {
			border-bottom-left-radius: 10px;
		    border-top-left-radius: 10px;
		}
	}
	.content {
		position: relative;
		padding:0 20px 0 60px;

		label {
			top: -37px;
	    	left: -28px;
			color:$blue;
			padding:8px 14px;
			font-weight: 500;
			border-radius:18px;
			position: absolute;
			font-family: $roboto;
			border:2px solid $blue;
			background-color:$white;
			text-transform: capitalize;
			@include rem(12px,30,14px);

		}

		h5 {
			color:#272727;
			font-weight: 400;
			padding-bottom: 14px;
			font-family: $roboto;
		}

		.currency {
			color:#808080;
			font-weight: 500;
			font-family: $roboto;
			padding-bottom: 50px;
			@include rem(16px,30,19px);

			span {
				color:rgba(#808080,.3);
				text-decoration: line-through;
			}
		}

		.btn{
			color:$black_blue;
			height: 40px;
			max-width:150px;
			border-radius:20px;
			font-weight: 500;
			@include rem(14px,30, 16px);

			i {
				padding-left: 10px;
			}

			&:hover,&:focus{
				box-shadow: 0 6px 15px #26005145;
			}
		}
	}

}


/* testimonial style =================*/

.testimonial {
	padding:110px 0;
	background:linear-gradient(45deg,#31005C,#390A62);

	h2.fs-lg {
		color: $silver;
		font-weight: bold;
		font-family: $osw;
		padding-bottom: 60px;
		text-transform: uppercase;

	}

	.testimonial-slider {

		.slide-item {
			position: relative;

			i {
				color:$black_blue;
				z-index:-1;
				line-height: 1;
				position:absolute;
				font-size: 7.688rem;
			}

			p{
				color:$silver;
				padding:39px 0 0 50px;
				font-weight: 400;
				font-family: $roboto;
				@include rem(18px,0,26px);

			}

			.meta-wraper {
				text-align-last: end;
				padding-top: 56px;
				.meta-name {
					color:$silver;
					font-weight: 500;
					font-family: $osw;
				}

				.meta-designation {
					color:rgba($silver,.5);
					font-weight: 400;
					font-family: $roboto;
					@include rem(16px,0,26px);
					padding:0;
				}
			}
		}

		.slick-dots {
			bottom:0;
			text-align: start;
			margin-left: 50px;
			li {
				width: 30px;
		    	height: 30px;
    			align-items: center;
		    	display: inline-flex;
		    	border-radius: 500px;
		    	justify-content: center;
		    	background-color: inherit;

		    	button {
		    		width: 10px;
		    		height: 10px;
		    		display: block;
		    		border-radius:500px;
		    		background-color: $success;
		    		transition: all .3s ease;


		    		&:before {
		    			display: none;
		    		}
		    	}

		    	&.slick-active {
					border: 1px solid $success;
					
					button {
						width: 12px;
		    			height: 12px;
					}

		    	}

			}
		}
	}
}

/* instagram gallery style =================*/
.instagram-grallery {
	display: grid;
	grid-template-columns:repeat(auto-fill, calc(100% / 6));

}

.instagram-feed {
	width: 100%;
	overflow: hidden;
	max-height: 320px;
	position:relative;

	a {
		color:inherit;
	}

	img {
		width: 100%;
		height: 350px;
		display: block;
		min-height: 100%;
		max-width: 100%;
		transform: translate3d(0, -30px,0);
		transition: opacity 0.35s, transform 0.35s;
	}

	.content {
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		display: flex;
		position: absolute;
	    align-items: center;
	    justify-content: center;
	    transition:all 0.35s ease;

		h3 {
			color:$white;
			font-weight: 500;
			font-family: $osw;
			text-transform: uppercase;
			transform: translate3d(0,-40px,0);
			transition: opacity 0.35s, transform 0.35s;
		}
	}

	&:hover,&:focus {
		a {
			color:inherit;
		}
		img {
			transform: translate3d(0,0,0);
			transition-delay: 0.15s;
		}
		.content {
			opacity: 1;
			transition-delay: 0.15s;
			background-color: rgba($success,.5);

			h3 {
				transform: translate3d(0,0,0);
				transition-delay: 0.15s;
			}
		}
	}
}


/* about us page style =================*/

.about-us {
	padding:120px 0;

	.media {
		margin-bottom: 80px;

		img {
			width:100%;
		}
	}
}

.about-warpper {
	position: relative;

	.content {
		margin-left: -273px;
		padding: 63px 70px;
		background-color: rgba($black_blue,.9);

		h2 {
			color:$silver;
			font-weight: bold;
			font-family: $osw;
			letter-spacing:0;
			padding-bottom: 20px;
		}

		p {
			color:$silver;
			font-weight: 400;
			font-family: $roboto;
			@include rem(18px,0,30px);
		}
	}
}

.page-heading {
	padding-bottom: 160px;

	h1 {
		color:$silver;
		font-weight: bold;
		font-family: $osw;
		letter-spacing:0;
	}

}

nav {

	.breadcrumb {
		margin-bottom: 0;
		align-items: center;
		background-color: inherit;
		.breadcrumb-item {
			
			a {
				color:$white;
				font-weight: 400;
				font-family: $roboto;
				@include rem (20px,0,28px);
			}

			&.active {
				color:rgba($white,.5);
			}

		}

		.breadcrumb-item+.breadcrumb-item::before {
		    display: inline-block;
		    padding-right: .5rem;
		    padding-left: .5rem;
		    color: #6c757d;
		    font-weight: 600;
		    content: "\f061";
			font-family: "Font Awesome 5 free";
		}
	}
}

.team-us {
	padding:125px 0 100px 0;
	
	h2.fs-lg {
		color:$silver;
		font-weight: bold;
		font-family: $osw;
		text-align: center;
		padding-bottom: 80px;
		text-transform: uppercase;
	}
}

.single-team {
	margin: 31px 0;

	.media {
		background-repeat: no-repeat;
    	background-size: contain;

    	img {
    		width: 100%;
    	}
	}

	.content {
		border-radius:5px;
		padding:17px 62px;
		text-align: center;
		background-color: $black_blue;

		.name {
			color:$silver;
			font-weight: 500;
			padding-bottom: 13px;
			font-family: $roboto;
			@include rem(18px,0,24px);
		}

		.designation {
			color:$silver;
			font-weight: 400;
			font-family: $roboto;
			@include rem(14px,0,24px);
		}
	}
}

/* contact us page style =================*/

.page-banner {
	padding:80px 0;

	.media {

		img {
			margin-left: auto;
		}
	}

	.page-heading {
		padding: 0;

	}
}

.contact-us {
	padding-bottom: 80px;

	h3 {
		color:$white;
		font-weight: 500;
		font-family: $roboto;
		padding-bottom: 5px;
		letter-spacing:0.02em;
		line-height: 1.2;
	}

	.location ,.mail {
		color:$white;
		width: 100%;
		height:84px;
		display: flex !important;
		max-width:84px;
		font-size: 28px;
		align-items: center;
		margin-bottom: 71px;
		border-radius:500px;
		justify-content: center;
		background:linear-gradient(#44F2D2,#379EC4);
	}

	
	#map {
		height: 700px;
	}

	.contact {
		padding:30px;
		box-shadow: 0 10px 20px rgba(68, 242, 210, .1);

		.location {
			color:$white;
			font-size: 28px;
		}
		
		p, a{
			display: block;
			color:#CCD1EB;
			font-weight: 400;
			font-family: $roboto;
			@include rem (16px,20,26px);

		}

		.address ,.emails{
			padding-bottom: 90px;
		}

	}

	.form-wraper {
		padding: 30px;
		box-shadow: 0 30px 30px rgba(68, 242, 210, .1);

		h3 {
			padding-bottom: 40px;
		}
		
		.mail {
			background:linear-gradient(#44F2D2,#379EC4,.8);
		}

		.contact-form {
			
			label {
				color:#CCD1EB;
				font-weight: 400;
				padding-bottom: 6px;
				font-family: $roboto;
				@include rem(16px,20,19px);
			}

			.form-group {
				margin-bottom: 27px;

				.form-control ,textarea {
					font-weight: 400;
					height: inherit;
					padding:12px 15px !important;
					border-radius:0;
					font-family: $roboto;
					color:rgba(#CCD1EB,.5);
					@include rem(14px,20,16px);
					border:1px solid $success;
					background:rgba($white,.05);
					@include placeholder(#ccd1eb80 ,0.875rem, 400, $roboto);
					transition:all .5s ease;

					&:focus {
						box-shadow:none;
					}

				}
			}
			.success-button{
				border:0;
				width: 100%;
				color:$white;
				padding:10px 0;
				font-weight: 500;
				text-align: center;
				font-family: $roboto;
				background-color:$success;
				text-transform: uppercase;
				@include rem(18px,200,21px);
				transition:all .3s ease;

				&:hover,&:focus{
					box-shadow: 0 6px 15px #44f2d24d;
				}

			}
		}
	}
}


/* cart page style =================*/

.cart-page-banner {
	padding:80px 0;

	h1 {
		color:$silver;
	}
}

.cartListWrapper {
	padding:110px 0;
	background-color: $aliceblue;
}
.cartListInner {

	.table-responsive {

		table {

			td,th {
				border-top: 0px;
			}

			thead {

				tr {
					border-bottom:.5px solid rgba($black_blue,.5);
					
					th {
						color:$gray;
						font-weight: 500;
						font-family: $roboto;
						@include rem(16px,0,24px);
						text-transform: uppercase;
					}
				}
			}

			tbody {

				tr {
					border-bottom:.5px solid $black_blue;

					td {
						font-weight: 500;
						font-family: $roboto;
						vertical-align: middle;
						@include rem(16px,30,21px);
					}

					.cart-title {
						color:$gray;
						min-width:125px;
						font-weight: 400;
						font-family: $roboto;
						@include rem(14px,0,21px);
					}
					.price {
						color:#260051;
					}
					.total {
						color:$gray;

					}

					.count-input {
						display: flex;

						input[type="number"] {
							-webkit-appearance: textfield;
							-moz-appearance: textfield;
							appearance: textfield;
							
							&::-webkit-inner-spin-button {
								-webkit-appearance: none;
							}
							&::-webkit-outer-spin-button {
								-webkit-appearance: none;
							}

						}

						.quantity {
							border:0;
							color:$gray;
							max-width: 81px;
							font-weight: 400;
							border-radius:15px;
							margin-right: -24px;
							font-size: 0.875rem;
							font-family: $roboto;
    						padding: 7.5px 25px 7.5px 15px !important;
						}

						i.fas.fa-chevron-up, i.fas.fa-chevron-down {
							color:$black_blue;
							padding: 4px 0;
							font-size: 10px;
							display: inherit;
						}

						i.fas.fa-chevron-down {
							margin-top: auto;
   							margin-left: -9px;
						}
					}
				}
			}
		}
	}

	.wrapper-area {

		.updateArea {
			margin-top: 41px;
			display: flex;

		}
		
		.form-group {
			margin-top: 80px;
			margin-bottom: 0;
			label {
				color:$black_blue;
				font-weight: bold;
				font-family: $roboto;
				padding-bottom: 20px;
				@include rem(18px,30,21px);
			}

			.input-group {
				padding: 5px;
				border-radius:2px;
				background-color: $white;

				.form-control {
					border:0;
					color:$gray;
					height:inherit;
					font-weight:400;
					font-family: $roboto;
					@include rem(15px,0,20px);
					padding: 12px 15px !important;

					@include placeholder ($gray,0.938rem,400,$roboto);

					&:hover,&:focus {
						outline:0;
						box-shadow:none;
					}
				}

				.submit {
					color:$white;
					display: flex;
					padding:0 46px;
					font-weight:bold;
					align-items: center;
					font-family: $roboto;
					justify-content: center;
					background-color: #CCD1EB;
					text-transform: uppercase;
					@include rem(16px,30,19px);
					transition:all 0.3s ease;

					&:hover,&:focus{
						background-color: $success;
					}
				}
			}
		}
	}

	.totalAmountArea {
		margin-top: 41px;
		padding:17px 30px 30px 30px;
		background-color: $white;

		ul {
			
			li {
				color:$gray;
				padding: 12px 0;
				font-weight: 400;
				font-family: $roboto;
				@include rem(16px,30,19px);
				border-bottom:.5px solid $black_blue;
				
				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					border-bottom:0;
				}
			}
		}
	}


	.btn {
		height:50px;
		font-weight: bold;
		border-radius:25px;
		@include rem (16px,30,19px);

		&:hover,&:focus{
			box-shadow: 0 6px 15px #44f2d24d;
		}
	}

	.btn-view {
		color:$gray;
		max-width: 250px;
		margin-right: 20px;
		border:1px solid $success;
		background-color: inherit;

		&:hover,&:focus{
			background-color: $success;
		}
		
	}

	.btn-update {
		color:$gray;
		max-width: 200px;
		border:1px solid $success;
		background-color: inherit;

		&:hover,&:focus{
			background-color: $success;
		}
	}

	.checkBtn {
		max-width:311px;
		height: 50px;
	}
}




/* newsletter style =================*/
.newsletter {
	padding:35px 0;
	background-color: $blue;

	.title {
		color:$white;
		font-weight: 500;
		font-family: $osw;
		@include rem(20px,30,24px);
		text-transform: uppercase;
	}

	.input-group {
		input[type="email"]{
			height: inherit;
			font-weight: 400;
			background:$blue;
			border-radius: 55px;
			font-family: $roboto;
			@include rem(16px,0,24px);
			border: 1px solid $success;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			padding: 13px 15px !important;
			padding-right: 30px !important;
			color:rgbrgba(255,255,255,0.4);
			@include placeholder(rgba(255,255,255,0.4) ,16px, 400, $roboto);


			&:hover, &:focus {
				outline:0;
				box-shadow:none;
			}
		}

		button[type="submit"] {
			z-index: 2;
			color: $white;
			cursor: pointer;
			font-weight: 500;
			border-radius:55px;
			position: relative;
			font-family: $roboto;
			padding: .375rem .75rem;
			@include rem(16px,30,24px);
			background-color:$success;
			border: 1px solid $success;
			text-transform: uppercase;
			transition:background-color .15s ease-in-out;

			&:hover, &:focus {
				outline:0;
				box-shadow:none;
				background-color: $success;
			}
		}

		.input-group-append {
			z-index: 11;
		    margin-left: -23px;
		}
	}
}

/* footer-section style =================*/
.footer-section {
	overflow: hidden;
	background: $black_blue;

	.widget-wrapper {
		padding-bottom:100px;
		.widget {
			padding-top: 115px;
			
			.widget-logo {
				display: block;
				margin-bottom: 40px;
			}

			.des{
				color:$white;
				font-weight: 400;
				margin-bottom: 24px;
				font-family: $roboto;
				@include rem(14px,20,16px);
			}

			.widget-title {
				color:$white;
				font-weight: 500;
				font-family: $osw;
				margin-bottom: 40px;
				@include rem(16px,20,24px);
				text-transform: uppercase;

				.border {
				    width: 100%;
					display: block;
					padding-top: 5.5px;
				    position: relative;
				    border:0 !important;

				    &:before, &:after {
				        left: 0;
				        bottom: 0;
				        height: 1px;
				        width: 100%;
				        content: "";
				        position: absolute;
				    }
				    &:before {
				    	opacity: 0.20;
				    	background-color:$white;
				    }

				    &:after {
				        width: 50px;
				        z-index: 2;
				        background-color:$success ;
				    }
				}
			}


			.privacy {

				li {
					
					a {
						color:$white;
						font-weight: 400;
						font-family: $roboto;
						transition:color 0.3s ease;
						@include rem (14px,20,26.6px);

						&:hover, &:focus {
							color:$success;
						}

					}
				}
			}


			.social-widget {
				display: flex;
				flex-direction: row;
				
				li {
					width: 100%;
					max-width:30px;
					height: 30px;
					display: flex;
					border-radius:50%;
					align-items: center;
					flex-direction: row;
					justify-content: center;
					background-color:#2C346C;
					margin-right: 10px;
					transition:all 0.3s ease;

					a {
						
						i {
							color:$white;
							font-size: 0.75rem;
							transition:all 0.3s ease;
						}
					}

					&:hover,&:focus {
						background-color: $success;

						a {

							i {
								color:$blue;
							}
						}
					}

				}
			}


			.popular-tags {
				
				li {
					display: inline-block;
					padding-right: 4px;

					a {
						color:$white;
						display: block;
						font-weight: 400;
						padding:5px 10px;
						margin-left: 2px;
						margin-bottom: 10px;
						border-radius:15px;
						font-family: $roboto;
						@include rem (11px,20,14px);
						background-color:rgba($success,0.22);
						transition:color 0.3s ease;

						&:hover, &:focus {
							color:$success;
							box-shadow: 0px 2px 4px #ffffff1f;
						}
					
					}
				}
			}

			.instagram-widget {

				.media {

					img {
						width: 100%;
					}
				}
			}

		}


		.instagram-widget {
			display: grid;
		    grid-template-columns: repeat(3,1fr);
		    grid-gap: 2px;
		}

	}

	.copyright {
		padding:30px 0;
		line-height: 1.2;
		display: flex;
		justify-content:space-between;

		p {
			color:$white;
			font-weight: 400;
			font-family: $roboto;
			font-size: 0.875rem;
		}

	}


}




// Responsive 
@import 'responsive';