	<!-- Begin about us section -->
	<section class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-12">
                    <div class="media">
                        <img src="../assets/images/cart-img.jpg" alt="" class="img-responsive">
                    </div>            
                </div>
                <div class="col-lg-5 col-md-12 d-flex align-items-end">
                    <div class="about-warpper">
                        <div class="page-heading">
                            <h1 class="title">About Us</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                   <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                   <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="content">
                            <h2>Welcome to Lightshot Store!</h2>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</section> <!-- /end of about us  -->

    <!-- Begin featured section -->
    <section class="features coverbg" style="background-image: url(../assets/images/featured-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="media">
                            <img src="../assets/images/fast-delivery.png" alt="" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4>Fast Delivery</h4>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="media">
                            <img src="../assets/images/secure-payment.png" alt="" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4>Secure Payment</h4>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <div class="media">
                            <img src="../assets/images/money-back.png" alt="" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4>Money Back Guarantee</h4>

                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /end of featured section -->
	

	<!-- Begin teams us -->
    <section class="team-us">
    	<div class="container">
    		<h2 class="fs-lg">Our Happy Team</h2>

    		<div class="row">
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img1.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img2.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img3.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img4.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img2.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex justify-content-center">
                    <div class="single-team">
                        <div class="media" style="background-image: url(../assets/images/teambg-img1.png);">
                            <img src="../assets/images/team-img1.png" alt="Michael C. Derosa" class="img-responsive">
                        </div>
                        <div class="content">
                            <div class="name" title="Michael C. Derosa"> Michael C. Derosa</div>
                            <div class="designation">Ceo & Art Direactor</div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </section> <!-- /end of team us -->

    <section class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 class="fs-lg">Testimonials</h2>
                    <div class="testimonial-slider">
                        <div class="slide-item">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>

                            <div class="meta-wraper">
                                <h4 class="meta-name">Rosa J. Kuebler</h4>
                                <p class="meta-designation">Florist, Happy Bear Investment Occupation</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>

                            <div class="meta-wraper">
                                <h4 class="meta-name">Rosa J. Kuebler</h4>
                                <p class="meta-designation">Florist, Happy Bear Investment Occupation</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>

                            <div class="meta-wraper">
                                <h4 class="meta-name">Rosa J. Kuebler</h4>
                                <p class="meta-designation">Florist, Happy Bear Investment Occupation</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>

                            <div class="meta-wraper">
                                <h4 class="meta-name">Rosa J. Kuebler</h4>
                                <p class="meta-designation">Florist, Happy Bear Investment Occupation</p>
                            </div>
                        </div>
                        <div class="slide-item">
                            <i class="fas fa-quote-right"></i>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit</p>

                            <div class="meta-wraper">
                                <h4 class="meta-name">Rosa J. Kuebler</h4>
                                <p class="meta-designation">Florist, Happy Bear Investment Occupation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /end of testimonial -->



    <!-- Begin newsletter -->
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-center">
                    <h6 class="title">Subscribe to our news letter</h6>
                </div>
                <div class="col-lg-7 offset-lg-1 col-md-6 col-offset-0">
                    <form method="POST">
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email address" aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button type="submit" id="button-addon1"> <i class="fas fa-paper-plane"></i> Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 